*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.wrapper
{
    width: 100vw;
    height: 100vh;
    background-color: rgba(95, 95,95,0.39);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalForm
{
    width: 400px;
    min-height: 80vh;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0,0,0 0.15) 0px 2px 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content
{
    background-color: rgba(95, 95,95,0.39);
    position: fixed;
    display: flex;
    justify-content: center;
}